/* DEFAULT STYLE */
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.5px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 50px 0;
}

.row {
    width: 100%;
    padding: 0 16px;
    max-width: 1400px;
    margin: 0 auto;
}

button {
    color: #f8f8f8;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #f8f8f8;
    background-color: transparent;
    padding: 16px 32px;
    transition: all 200ms ease;
}

button:hover {
    cursor: pointer;
    color: #242424;
    background-color: #f8f8f8;
}

.pink {
    color: #EA4873;
}

.fa-star {
    color: #fabf2a;
}


/* LANDING-PAGE */
#landing-page {
    /* Prevents overflow view of next section for users */
    min-height: 100vh;

    /* Decreases brightness directly to background-image */
    background: rgba(0,0,0,0.5) url("https://image.tmdb.org/t/p/original/bQXAqRx2Fgc46uCVWgoPz5L5Dtr.jpg");
    background-blend-mode: darken;

    /* Stretches background image without distorting dimension */
    background-size: cover;
    background-repeat: no-repeat;

    /* Centers background image horizontally at all times */
    background-position: 50% 0%;
}

/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    height: 90px;
    margin: 0 auto;
    padding: 0 20px;
    color: #f8f8f8;
}

.nav__link--list {
    display: flex;
}

.nav__logo,
.nav__link--anchor {
    color: #f8f8f8;
    font-weight: 400;
}

.nav__logo {
    font-size: 28px;
}

.nav__link {
    margin: 0 16px;
}

.nav__link--anchor {
    font-size: 18px;
}

/* HEADER */
.header {
    position: absolute;
    max-width: 700px;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
    color: #f8f8f8;
}

.header__sub-title {
    font-size: 18px;
    margin-bottom: 24px;
}

.header__title {
    font-size: 72px;
    margin-bottom: 8px;
}

.header__rating {
    display: flex;
    justify-content: space-between;
    padding-right: 148px;
    margin-bottom: 24px;
}

.header__rating--pg {
    border: 1px solid #f8f8f8;
    padding: 1px 2px;
}

.header__para {
    margin-bottom: 32px;
}

/* MOVIES */

.section__title--border {
    display: flex;
    justify-content: space-between;
    margin: 32px 0 74px 0;
}

.section__title {
    font-size: 40px;
}

#movies {
    background-color: #161d1f;
    color: #f8f8f8;
}

.movies__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.movie__container {
    padding: 0 16px 16px 16px;
    width: calc(100% / 4);
    min-width: 300px;
    position: relative;
}

.movie__img {
    width: 100%;
    border-radius: 8px;
}

.movie__description {
    position: absolute;
    top: 0;
    left: 24px;
    text-align: left;
}

.movie__title {
    margin: 24px;
    font-size: 32px;
    text-align-last: left;
}